@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    height: 100vh;
    --scrollbarBG: #696969;
    --thumbBG: #31384b;
}

body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 15px;
}

{
    scrollbar-width: thin
;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG)
;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}